<?xml version="1.0"?>
<configuration>
	<location path="users">
		<system.webServer>
			<security>
				<requestFiltering>
					<requestLimits maxAllowedContentLength="1073741824"></requestLimits>
				</requestFiltering>
			</security>
			<dataflexHttpModule application="Codecon-desafio-1-1s-vs-3j" enabled="true" errortype="0" object="oUsers" verbs="POST"></dataflexHttpModule>
		</system.webServer>
	</location>
	<location path="superusers">
		<system.webServer>
			<dataflexHttpModule application="Codecon-desafio-1-1s-vs-3j" enabled="true" errortype="0" object="oSuperUsers" verbs="GET"></dataflexHttpModule>
		</system.webServer>
	</location>
	<location path="team-insights">
		<system.webServer>
			<dataflexHttpModule application="Codecon-desafio-1-1s-vs-3j" enabled="true" errortype="0" object="oTeamInsights" verbs="GET"></dataflexHttpModule>
		</system.webServer>
	</location>
	<location path="top-countries">
		<system.webServer>
			<dataflexHttpModule application="Codecon-desafio-1-1s-vs-3j" enabled="true" errortype="0" object="oTopCountries" verbs="GET"></dataflexHttpModule>
		</system.webServer>
	</location>
	<location path="DfResource">
		<system.webServer>
			<dataflexHttpModule application="Codecon-desafio-1-1s-vs-3j" enabled="true" errortype="0" object="oWebResourceManagerProxy" verbs="GET,POST"></dataflexHttpModule>
		</system.webServer>
	</location>
	<location path="WebServiceDispatcher.wso">
		<system.webServer>
			<dataflexHttpModule application="Codecon-desafio-1-1s-vs-3j" enabled="true" errortype="1" object="oWebServiceDispatcher" verbs="GET,POST"></dataflexHttpModule>
		</system.webServer>
	</location>
</configuration>
